<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {% unless page.url == "/" %}
        <nav class="breadcrumb" style="margin-bottom: 1.5em;">
          <a href="{{ '/' | relative_url }}">Home</a>
          {% if page.url contains '/src/java/' %}
            &raquo; <a href="{{ '/src/java/' | relative_url }}">Java</a>
          {% elsif page.url contains '/src/api/' %}
            &raquo; <a href="{{ '/src/api/' | relative_url }}">API</a>
          {% elsif page.url contains '/src/sql/' %}
            &raquo; <a href="{{ '/src/sql/' | relative_url }}">SQL</a>
          {% elsif page.url contains '/src/cloud/' %}
            &raquo; <a href="{{ '/src/cloud/' | relative_url }}">Cloud</a>
          {% elsif page.url contains '/src/dotnet/' %}
            &raquo; <a href="{{ '/src/dotnet/' | relative_url }}">.NET</a>
          {% elsif page.url contains '/src/README' %}
            &raquo; Contributor Guide
          {% endif %}
          {% unless page.url == '/src/java/' or page.url == '/src/api/' or page.url == '/src/sql/' or page.url == '/src/cloud/' or page.url == '/src/dotnet/' or page.url contains '/src/README' %}
            &raquo; {{ page.title }}
          {% endunless %}
        </nav>
        {% endunless %}

        {{ content }}
      </section>
    </div>
  </body>
</html>
